body{font-family:Arial;text-align:center;background:#f2f2f2}
nav{background:#333;padding:10px}
nav a{color:white;margin:10px;text-decoration:none}
select,button{padding:8px;margin:10px}
footer{margin-top:40px}